html {

}

body {
  background: url(../images/body-bg1.png);
  font-family: 'Droid Sans', sans-serif;
}

a,
a:link,
a:visited {
  color: $blue1;
}

p {

}


h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
  a {
    color: $color1;
  }
}

