.view-news-frontpage {
  .node-title {
    a {
      text-decoration: none;
      color: $blue1;
      font-size: 30px;
      line-height: 36px;
      font-weight: 400;
      font-family: $bree;
      text-transform: uppercase;
    }
  }
  .submitted {
    color: #007aac;
  }

  .node-read-more {
    float: right;
    width: 100%;
    position: static;
    .links {
      float: right;
    }
  }
}
